.footer {
  text-align: center;
  padding: 1em;
  background-color: #f8f8f8;
  border-top: 1px solid #e7e7e7;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}

.footer p {
  margin: 0;
  color: #333;
  font-size: 0.9em;
}
